In [63]:
#Libraries in use:
import pandas as pd
import csv
import re
import numpy as np

In [64]:
gc_df = pd.read_csv("./gc.csv")
del gc_df['Weighted Total [Total Pts: up to 0 Percentage] |1649396']
del gc_df['Last Access']
del gc_df['Availability']
gc_df['Full Name'] = gc_df['First Name'] +" "+ gc_df['Last Name']
gc_df["Department"] = "ECE"
gc = gc_df.drop(['First Name', 'Last Name', 
                 'Final Written Progress report [Total Pts: 30 Score] |1738697',
                 'Final Oral Presentation [Total Pts: 30 Score] |1738698'], axis=1)
gc.head()

,Username,Student ID,Total [Total Pts: up to 90 Score] |1649395,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department
0,sma373,13459853,30.0,10.00,20.0,Sari Aldabdoub,ECE
1,lma75,13076805,NaN,NaN,NaN,Lulwah Alhendi,ECE
2,sa3436,14199836,30.0,10.00,20.0,Said Amadjouj,ECE
3,cja66,13899289,30.0,10.00,20.0,Carl Anderson,ECE
4,wja35,14203119,30.0,10.00,20.0,William Anderson,ECE

In [65]:
Team_df = pd.read_csv("./TeamResults.csv")
Team_df['Last Name'] = Team_df['Q2'].str.split(',', expand=True)[0]
Team_df['First Name'] = Team_df['Q2'].str.split(',', expand=True)[1]
del Team_df['Q2']
Team_df['Full Name'] = Team_df['First Name'] +" "+ Team_df['Last Name']
Team_df['Full Name'] = Team_df['Full Name'].astype(str).map(lambda x: x.strip())
Team = Team_df.drop(['First Name', 'Last Name'], axis=1)
Team.head()

   AverageGrade             Graders               Full Name
0          20.0  Mancoridis, Spiros              Kenny Choi
1          20.0  Mancoridis, Spiros           Tristan Leung
2          20.0  Mancoridis, Spiros  Konstantin Zelmanovich
3          20.0  Mancoridis, Spiros             Mingo Leung
4          16.0             Lu, Fei             Amr Mostafa

In [66]:
new1 = pd.merge(
        gc, Team,  how='outer', on='Full Name')
new1 = new1.rename(columns={'AverageGrade': 'TeamWork Grade'})
#new11 = new1.drop(['Unnamed: 0'], axis = 1)
new1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 0 to 160
Data columns (total 9 columns):
Username                                                       151 non-null object
Student ID                                                     151 non-null float64
Total [Total Pts: up to 90 Score] |1649395                     127 non-null float64
PQF [Total Pts: 10 Score] |1712305                             126 non-null object
Fall Interim Progress Report [Total Pts: 20 Score] |1720313    123 non-null float64
Full Name                                                      161 non-null object
Department                                                     151 non-null object
TeamWork Grade                                                 113 non-null float64
Graders                                                        113 non-null object
dtypes: float64(4), object(5)
memory usage: 12.6+ KB

In [67]:
groups_df = pd.read_csv("./groups.csv")
groups_df['Group ID'] = groups_df['Group Code'].apply(lambda x: re.search(r'\d+', x).group())
groups_df["TeamID"] = pd.to_numeric(groups_df['Group ID'], downcast="float")
group = groups_df.drop(['Group Code', 'Group ID'], axis=1)
group['Full Name'] = group['First Name'] +" "+ group['Last Name']
group['Full Name'] = group['Full Name'].astype(str).map(lambda x: x.strip())
grp = group.drop(['First Name', 'Last Name'], axis=1)
grp.head()

  User Name  Student Id  TeamID         Full Name
0     eti23    13445259     1.0       Emily Irwin
1     dcl69    12675708     1.0    Daniel Loghing
2    smd387    11944287     1.0  Stephen Daloisio
3    jld469    12314091     1.0     John Dionisio
4     tl575    12610669    10.0     Tristan Leung

In [68]:
new2 = pd.merge(
        new1, grp,  how='outer', on='Full Name')
new2 = new2.rename(columns={'TeamID': 'GroupID'})
new3 = new2.drop(['Student Id', 'User Name'], axis=1)
new3.head()

,Username,Student ID,Total [Total Pts: up to 90 Score] |1649395,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department,TeamWork Grade,Graders,GroupID
0,sma373,13459853.0,30.0,10.00,20.0,Sari Aldabdoub,ECE,20.0,"Chmielewski, Thomas",19.0
1,lma75,13076805.0,NaN,NaN,NaN,Lulwah Alhendi,ECE,NaN,NaN,NaN
2,sa3436,14199836.0,30.0,10.00,20.0,Said Amadjouj,ECE,15.0,"Lu, Fei",45.0
3,cja66,13899289.0,30.0,10.00,20.0,Carl Anderson,ECE,20.0,"Peters, Christopher",3.0
4,wja35,14203119.0,30.0,10.00,20.0,William Anderson,ECE,18.0,"Kim, Youngmoo",12.0

In [71]:
new3.to_csv("new3.csv", sep=',')

In [72]:
new33 = pd.read_csv("./new3.csv")

In [73]:
oral_df = pd.read_csv("./OralResults.csv")
oral_df['GroupID'] = pd.to_numeric(oral_df['TeamID'], downcast = "float")
oral = oral_df.drop(['TeamID'], axis=1)
oral.head()

,Unnamed: 0,Q3,AverageGrade,Graders,GroupID
0,38,ECE-1 Fire Safety and Smart Awareness System,35.400000,"Peters, ChristopherMontazeri, KianaPullen, Mar...",1.0
1,34,ECE-2 Ad Hoc Communication Network for Emergen...,38.750000,"Montazeri, KianaRosen, GailPeters, Christopher...",2.0
2,70,ECE-3 Smart Kitchen Table,35.750000,"Montazeri, KianaFontecchio, AdamPeters, Christ...",3.0
3,90,ECE-4 Food Inventory & Integrations Platform,38.333333,"shankarPullen, MarquiseFontecchio, Adam",4.0
4,104,ECE-5 Environment Detection Device for the Vis...,32.333333,"Montazeri, KianaFontecchio, AdamKandasamy, Naga",5.0

In [74]:
new4 = pd.merge(new33, oral,  how='outer', on='GroupID')
new4 = new4.rename(columns={'Q3': 'Project Title', 'AverageGrade': 'Oral Presentation Grade', 
                            'Graders_y': 'Oral Pres. Graders',
                            'Graders_x': 'Teamwork Grader'})
new44 = new4.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis = 1)
new44.head()

,Username,Student ID,Total [Total Pts: up to 90 Score] |1649395,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department,TeamWork Grade,Teamwork Grader,GroupID,Project Title,Oral Presentation Grade,Oral Pres. Graders
0,sma373,13459853.0,30.0,10,20.0,Sari Aldabdoub,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu..."
1,md3349,14116973.0,30.0,10,20.0,Mahamoudou Doumbia,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu..."
2,lz344,13738676.0,30.0,10,20.0,Liye Zhu,ECE,20.0,"Chmielewski, thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu..."
3,lma75,13076805.0,NaN,NaN,NaN,Lulwah Alhendi,ECE,NaN,NaN,NaN,NaN,NaN,NaN
4,nta33,13519578.0,NaN,NaN,NaN,Niles Arner,ECE,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
new44.to_csv("new44.csv", sep=',')

In [76]:
written_df = pd.read_csv("./WrittenResults.csv")
written_df['GroupID'] = pd.to_numeric(written_df['TeamID'], downcast = "float")
written = written_df.drop(['TeamID'], axis=1)
written.head()

,Unnamed: 0,Q3,AverageGrade,Graders,GroupID
0,79,ECE-1 Fire Safety and Smart Awareness System,45.0,"Fontecchio, Adam",1.0
1,13,ECE-2 Ad Hoc Communication Network for Emergen...,49.0,"Peters, ChristopherFontecchio, Adam Rosen, Gail",2.0
2,50,ECE-3 Smart Kitchen Table,43.5,"Chmielwski, Thomasfontecchio, adam",3.0
3,42,ECE-4 Food Inventory & Integrations Platform,46.0,"shankarPullen, MarquiseFontecchio, Adam",4.0
4,51,ECE-5 Environment Detection Device for the Vis...,40.0,"Kandasamy, Naga",5.0

In [95]:
new5 = pd.merge(new4, written,  how='outer', on='GroupID')
new5 = new5.rename(columns={'AverageGrade': 'Written Presentation Grade', 'Graders': 'Written Report Graders'})
new55 = new5.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis = 1)
new55.head()

,Username,Student ID,Total [Total Pts: up to 90 Score] |1649395,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department,TeamWork Grade,Teamwork Grader,GroupID,Project Title,Oral Presentation Grade,Oral Pres. Graders,Unnamed: 0,Q3,Written Presentation Grade,Written Report Graders
0,sma373,13459853.0,30.0,10,20.0,Sari Aldabdoub,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",41.0,ECE-19 Low Cost GPS Tracking Device,47.0,"Nagvajara, PrawatChmielewski, Thomas"
1,md3349,14116973.0,30.0,10,20.0,Mahamoudou Doumbia,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",41.0,ECE-19 Low Cost GPS Tracking Device,47.0,"Nagvajara, PrawatChmielewski, Thomas"
2,lz344,13738676.0,30.0,10,20.0,Liye Zhu,ECE,20.0,"Chmielewski, thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",41.0,ECE-19 Low Cost GPS Tracking Device,47.0,"Nagvajara, PrawatChmielewski, Thomas"
3,lma75,13076805.0,NaN,NaN,NaN,Lulwah Alhendi,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,nta33,13519578.0,NaN,NaN,NaN,Niles Arner,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
new55.to_csv("new55.csv", sep=',')

In [97]:
dups = new55[new55['Full Name'].isin(new55['Full Name'][new55['Full Name'].duplicated()])]
dups['Full Name']

Series([], Name: Full Name, dtype: object)

In [98]:
new55[
    'Oral+Written+Teamwork Grade'] = new55[
    'TeamWork Grade'] + new55[
    'Written Presentation Grade'] + new55[
    'Oral Presentation Grade']

In [99]:
new55.head()

,Username,Student ID,Total [Total Pts: up to 90 Score] |1649395,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department,TeamWork Grade,Teamwork Grader,GroupID,Project Title,Oral Presentation Grade,Oral Pres. Graders,Unnamed: 0,Q3,Written Presentation Grade,Written Report Graders,Oral+Written+Teamwork Grade
0,sma373,13459853.0,30.0,10,20.0,Sari Aldabdoub,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",41.0,ECE-19 Low Cost GPS Tracking Device,47.0,"Nagvajara, PrawatChmielewski, Thomas",102.5
1,md3349,14116973.0,30.0,10,20.0,Mahamoudou Doumbia,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",41.0,ECE-19 Low Cost GPS Tracking Device,47.0,"Nagvajara, PrawatChmielewski, Thomas",102.5
2,lz344,13738676.0,30.0,10,20.0,Liye Zhu,ECE,20.0,"Chmielewski, thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",41.0,ECE-19 Low Cost GPS Tracking Device,47.0,"Nagvajara, PrawatChmielewski, Thomas",102.5
3,lma75,13076805.0,NaN,NaN,NaN,Lulwah Alhendi,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,nta33,13519578.0,NaN,NaN,NaN,Niles Arner,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
new555 = new55.drop(['Unnamed: 0', 'Total [Total Pts: up to 90 Score] |1649395', 'Q3'], axis = 1)
new555.head()

,Username,Student ID,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department,TeamWork Grade,Teamwork Grader,GroupID,Project Title,Oral Presentation Grade,Oral Pres. Graders,Written Presentation Grade,Written Report Graders,Oral+Written+Teamwork Grade
0,sma373,13459853.0,10,20.0,Sari Aldabdoub,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",47.0,"Nagvajara, PrawatChmielewski, Thomas",102.5
1,md3349,14116973.0,10,20.0,Mahamoudou Doumbia,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",47.0,"Nagvajara, PrawatChmielewski, Thomas",102.5
2,lz344,13738676.0,10,20.0,Liye Zhu,ECE,20.0,"Chmielewski, thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.5,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",47.0,"Nagvajara, PrawatChmielewski, Thomas",102.5
3,lma75,13076805.0,NaN,NaN,Lulwah Alhendi,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,nta33,13519578.0,NaN,NaN,Niles Arner,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
new555

,Username,Student ID,PQF [Total Pts: 10 Score] |1712305,Fall Interim Progress Report [Total Pts: 20 Score] |1720313,Full Name,Department,TeamWork Grade,Teamwork Grader,GroupID,Project Title,Oral Presentation Grade,Oral Pres. Graders,Written Presentation Grade,Written Report Graders,Oral+Written+Teamwork Grade
0,sma373,13459853.0,10,20.0,Sari Aldabdoub,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.500000,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",47.000000,"Nagvajara, PrawatChmielewski, Thomas",102.500000
1,md3349,14116973.0,10,20.0,Mahamoudou Doumbia,ECE,20.0,"Chmielewski, Thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.500000,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",47.000000,"Nagvajara, PrawatChmielewski, Thomas",102.500000
2,lz344,13738676.0,10,20.0,Liye Zhu,ECE,20.0,"Chmielewski, thomas",19.0,ECE-19 Low Cost GPS Tracking Device,35.500000,"Montazeri, KianaNagvajara, PrawatPullen, Marqu...",47.000000,"Nagvajara, PrawatChmielewski, Thomas",102.500000
3,lma75,13076805.0,NaN,NaN,Lulwah Alhendi,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,nta33,13519578.0,NaN,NaN,Niles Arner,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,mrb372,13520499.0,NaN,NaN,Michael Barnes,ECE,20.0,"Scoles, Kevin",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,rmb326,13575377.0,NaN,NaN,Robert Borrelli,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,hc523,13293641.0,NaN,NaN,Jayden Chen,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,mfd43,13255534.0,NaN,NaN,Matthew D'Angeli,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,cld88,12732168.0,NaN,NaN,Claudio Del Valle Azuara,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ajd344,12658065.0,NaN,NaN,Andrew Doyle,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,aaf64,13216605.0,NaN,NaN,Alfredo Flores,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,cg638,13256389.0,NaN,NaN,Cheyenne Granate-Sharav,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,sg976,13109323.0,NaN,NaN,Siddharth Gupta,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,jj648,14106260.0,NaN,NaN,Justin Jennings,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,mgk39,12590673.0,NaN,NaN,Matthew Kaminski,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,zl368,13653747.0,NaN,NaN,Ziyu Li,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,mrl324,13259300.0,NaN,NaN,Matthew Long,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,jtl73,13628962.0,NaN,NaN,Joseph Lynch,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,jdm385,12675947.0,NaN,NaN,Justin McCarthy,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,cbm53,13518195.0,NaN,NaN,Colby Mills-King,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,aam375,13114543.0,NaN,NaN,Anthony Montefiore,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,rmp324,12611273.0,NaN,NaN,Robert Paternoster,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,ghs32,12580544.0,NaN,NaN,George Swatek,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,tkt37,13113262.0,NaN,NaN,Tiassa Toukou,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,atv32,14052887.0,NaN,NaN,Andrew Vo,ECE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,cyz23,13267742.0,NaN,NaN,Charles Zhao,ECE,16.5,"Kim, YoungmooFontecchio, Adam",NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,sa3436,14199836.0,10,20.0,Said Amadjouj,ECE,15.0,"Lu, Fei",45.0,ECE-45 Hardware Design and Implementation of a...,34.666667,"fontecchio, adamPullen, MarquiseLu, Fei",45.500000,"Lu, FeiPullen, Marquise",95.166667
28,eg529,13578152.0,10,20.0,Egla Gjergo,ECE,16.0,"Lu, Fei",45.0,ECE-45 Hardware Design and Implementation of a...,34.666667,"fontecchio, adamPullen, MarquiseLu, Fei",45.500000,"Lu, FeiPullen, Marquise",96.166667
29,bh535,14115109.0,10,20.0,Baofeng Huang,ECE,12.0,"Lu, Fei",45.0,ECE-45 Hardware Design and Implementation of a...,34.666667,"fontecchio, adamPullen, MarquiseLu, Fei",45.500000,"Lu, FeiPullen, Marquise",92.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,tm657,13357575.0,10,20.0,Tim Mac,ECE,20.0,"Weber, Steven",40.0,ECE-40 Functional And Efficient IoT Network,35.000000,"Weber, StevenFontecchio, AdamPullen, Marquise",47.000000,"Weber, StevenPullen, MarquiseFontecchio, Adam",102.000000
132,khp34,13719089.0,10,20.0,Keyur Patel,ECE,20.0,"Weber, Steven",40.0,ECE-40 Functional And Efficient IoT Network,35.000000,"Weber, StevenFontecchio, AdamPullen, Marquise",47.000000,"Weber, StevenPullen, MarquiseFontecchio, Adam",102.000000
133,as4355,13398425.0,10,20.0,Alston Sanford,ECE,20.0,"Weber, Steven",40.0,ECE-40 Functional And Efficient IoT Network,35.000000,"Weber, StevenFontecchio, AdamPullen, Marquise",47.000000,"Weber, StevenPullen, MarquiseFontecchio, Adam",102.000000
134,as4229,14069971.0,10,20.0,Adam Sun,ECE,20.0,"Weber, Steven",40.0,ECE-40 Functional And Efficient IoT Network,35.000000,"Weber, StevenFontecchio, AdamPullen, Marquise",47.000000,"Weber, StevenPullen, MarquiseFontecchio, Adam",102.000000
135,dkj27,13885418.0,10,20.0,Daniel Joo,ECE,20.0,"Eisenstein, Bruce",22.0,ECE-22 PharmAssist Box: Automated Pill Dispenser,36.000000,"Fontecchio, AdamPullen, MarquiseEisenstein, Br...",46.750000,"Fontecchio, AdamEisenstein, BruceKandasamy, Na...",102.750000
136,cdc75,13093496.0,10,20.0,Christopher Kasper,ECE,16.0,"Eisenstein, Bruce",22.0,ECE-22 PharmAssist Box: Automated Pill Dispenser,36.000000,"Fontecchio, AdamPullen, MarquiseEisenstein, Br...",46.750000,"Fontecchio, AdamEisenstein, BruceKandasamy, Na...",98.750000
137,bar63,13624026.0,10,20.0,Blas Rodriguez Vieira,ECE,18.0,"Eisenstein, Bruce",22.0,ECE-22 PharmAssist Box: Automated Pill Dispenser,36.000000,"Fontecchio, AdamPullen, MarquiseEisenstein, Br...",46.750000,"Fontecchio, AdamEisenstein, BruceKandasamy, Na...",100.750000
138,naj47,13490674.0,10,20.0,Nicholas Joseph,ECE,NaN,NaN,18.0,ECE-18 Real-time Non-invasive Hydration Sensor,37.333333,"Montazeri, KianaFontecchio, AdamAyaz, Hasan",40.500000,"Ayaz, HasanFontecchio, Adam",NaN
139,ap3257,13239233.0,10,20.0,Anishi Patel,ECE,NaN,NaN,18.0,ECE-18 Real-time Non-invasive Hydration Sensor,37.333333,"Montazeri, KianaFontecchio, AdamAyaz, Hasan",40.500000,"Ayaz, HasanFontecchio, Adam",NaN
140,ap3264,13721369.0,10,20.0,Anav Pradhan,ECE,NaN,NaN,18.0,ECE-18 Real-time Non-invasive Hydration Sensor,37.333333,"Montazeri, KianaFontecchio, AdamAyaz, Hasan",40.500000,"Ayaz, HasanFontecchio, Adam",NaN
141,cbj33,13341526.0,10,NaN,Collin Joyce,ECE,NaN,NaN,20.0,ECE-20 Increased Efficiency/Distance with Rega...,21.000000,"Montazeri, KianaFontecchio, Adam",NaN,NaN,NaN
142,bn328,12685801.0,10,NaN,Brian Novitski,ECE,NaN,NaN,20.0,ECE-20 Increased Efficiency/Distance with Rega...,21.000000,"Montazeri, KianaFontecchio, Adam",NaN,NaN,NaN
143,phw23,13239001.0,10,NaN,Peter Winslow,ECE,NaN,NaN,20.0,ECE-20 Increased Efficiency/Distance with Rega...,21.000000,"Montazeri, KianaFontecchio, Adam",NaN,NaN,NaN
144,mk3324,13224652.0,10,20.0,Matthew Kelly,ECE,18.0,"Scoles, Kevin",23.0,ECE-23 Solar Powered Wireless Phone Case,33.500000,"Montazeri, KianaFontecchio, AdamPeters,Christo...",44.333333,"Scoles, KevinFontecchio, AdamPeters, Christopher",95.833333
145,ers73,13095663.0,10,20.0,Eric Skoglund,ECE,18.0,"Scoles, Kevin",23.0,ECE-23 Solar Powered Wireless Phone Case,33.500000,"Montazeri, KianaFontecchio, AdamPeters,Christo...",44.333333,"Scoles, KevinFontecchio, AdamPeters, Christopher",95.833333
146,ky96,13731740.0,10,20.0,Kevin Yang,ECE,18.0,"Scoles, Kevin",23.0,ECE-23 Solar Powered Wireless Phone Case,33.500000,"Montazeri, KianaFontecchio, AdamPeters,Christo...",44.333333,"Scoles, KevinFontecchio, AdamPeters, Christopher",95.833333
147,cl3279,13132751.0,10,20.0,Connor Lehman,ECE,NaN,NaN,26.0,ECE-26 Predictive Model of Cognitive Reserve i...,33.000000,"Montazeri, KianaFontecchio, AdamKriete, Andres",40.500000,"Kriete, AndresFontecchio, Adam",NaN
148,iaw35,NaN,10,20.0,Isabel Ann Wingert,BME,16.0,"Kriete, Andres",26.0,ECE-26 Predictive Model of Cognitive Reserve i...,33.000000,"Montazeri, KianaFontecchio, AdamKriete, Andres",40.500000,"Kriete, AndresFontecchio, Adam",89.500000
149,al895,13609041.0,10,20.0,Allyson Louie,ECE,20.0,"Peters, Christopher",31.0,ECE-31 VR Cylindrical Nuclear Reactor Simulator,36.250000,"Fontecchio, AdamMontazeri, KianaPeters, Christ...",44.000000,"Fontecchio, Adam",100.250000
150,jt637,13455870.0,10,20.0,Jeff Tiavises,ECE,20.0,"Peters, Christopher",31.0,ECE-31 VR Cylindrical Nuclear Reactor Simulator,36.250000,"Fontecchio, AdamMontazeri, KianaPeters, Christ...",44.000000,"Fontecchio, Adam",100.250000
151,mz388,NaN,10,20.0,Michelle Zhong,CS,20.0,"Peters, Christopher",31.0,ECE-31 VR Cylindrical Nuclear Reactor Simulator,36.250000,"Fontecchio, AdamMontazeri, KianaPeters, Christ...",44.000000,"Fontecchio, Adam",100.250000
152,kpp55,13212106.0,10,20.0,Kevin Phan,ECE,20.0,"Kandasamy, Naga",21.0,ECE-21 Autonomous Vehicles,35.333333,"Weber, StevenFontecchio, AdamKandasamy, Naga",45.000000,"Kandasamy, NagaPullen, Marquise",100.333333
153,az379,13569475.0,10,20.0,Amy Zhang,ECE,20.0,"Kandasamy, Naga",21.0,ECE-21 Autonomous Vehicles,35.333333,"Weber, StevenFontecchio, AdamKandasamy, Naga",45.000000,"Kandasamy, NagaPullen, Marquise",100.333333
154,ejc94,NaN,10,20.0,Elizabeth Coniglio,MEM,20.0,"Peters, Christopher",21.0,ECE-21 Autonomous Vehicles,35.333333,"Weber, StevenFontecchio, AdamKandasamy, Naga",45.000000,"Kandasamy, NagaPullen, Marquise",100.333333
155,lhp33,NaN,10,20.0,Lee Pruissen,SE,20.0,"Kandasamy, Naga",21.0,ECE-21 Autonomous Vehicles,35.333333,"Weber, StevenFontecchio, AdamKandasamy, Naga",45.000000,"Kandasamy, NagaPullen, Marquise",100.333333
156,sen52,NaN,10,20.0,Sam Nathanson,CS,20.0,"Kandasamy, Naga",21.0,ECE-21 Autonomous Vehicles,35.333333,"Weber, StevenFontecchio, AdamKandasamy, Naga",45.000000,"Kandasamy, NagaPullen, Marquise",100.333333
157,kjs377,12660963.0,10,NaN,Kyle Shina,ECE,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
158,at886,13864362.0,10,20.0,Abdoulaye Traore,ECE,15.0,"Lu, Fei",27.0,ECE-27 Wireless Power Transmission for Electri...,35.250000,"Pullen, MarquiseFontecchio, AdamLu, FeiDagmar ...",39.750000,"Lu, FeiPeters, ChristopherFontecchio, AdamPull...",90.000000
159,dv358,14076174.0,10,20.0,Divyesh Varsani,ECE,16.0,"Lu, Fei",27.0,ECE-27 Wireless Power Transmission for Electri...,35.250000,"Pullen, MarquiseFontecchio, AdamLu, FeiDagmar ...",39.750000,"Lu, FeiPeters, ChristopherFontecchio, AdamPull...",91.000000
160,jsz35,14070118.0,10,20.0,Jonathan Zhang,ECE,16.0,"Lu, Fei",27.0,ECE-27 Wireless Power Transmission for Electri...,35.250000,"Pullen, MarquiseFontecchio, AdamLu, FeiDagmar ...",39.750000,"Lu, FeiPeters, ChristopherFontecchio, AdamPull...",91.000000

In [105]:
new555.isnull().any()

Username                                                       False
Student ID                                                      True
PQF [Total Pts: 10 Score] |1712305                              True
Fall Interim Progress Report [Total Pts: 20 Score] |1720313     True
Full Name                                                      False
Department                                                     False
TeamWork Grade                                                  True
Teamwork Grader                                                 True
GroupID                                                         True
Project Title                                                   True
Oral Presentation Grade                                         True
Oral Pres. Graders                                              True
Written Presentation Grade                                      True
Written Report Graders                                          True
Oral+Written+Teamwork Grade                                     True
dtype: bool

In [103]:
new555.to_csv("Final.csv", sep=',')